<footer>
  <p mt-8 text-xs op-30>
    <span pr-1>Made by</span>
    <a
      b-slate-link
      href="http://39.105.3.82/wordpress/" target="_blank"
    >
      ZTC
    </a>
    <span px-1>|</span>
    <a
      b-slate-link
      href="https://github.com/ddiu8081/chatgpt-demo" target="_blank"
    >
      源码借鉴
    </a>
  </p>
</footer>
